@font-face {
    font-family: 'aaargh';
    src: url('./res/fonts/Aaargh-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'abel';
    src: url('./res/fonts/abel-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --backgroundColor: #d7d7d7;
    color: black;
}

body {
    background-color: var(--backgroundColor);
    font-family: "abel", sans-serif;
    font-weight: 50;
    margin: 0;
}

header {
    width: 100vw;
    height: 20vh;

    /*Works without these 5, probably for older browsers*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    user-select: none;
}
header:hover {
    cursor: default;
}
#name-title {
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;

    font-family: 'aaargh', sans-serif;
    font-size: 4vmax;

    margin-top: 4vh;
    margin-bottom: 0;
}
#creation-process-message {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.1vmax;

    padding-top: 2.5vh;
    padding-bottom: 3vh;
    margin: 0;
    border-bottom: 2px solid white;
}

#tab-row {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    font-family: "abel", sans-serif;
}
.tabs {
    margin: 0;
    padding: 0;
    border-radius: 0;

    width: 20vw;
    height: 6vh;

    font-family: abel, sans-serif;
    font-size: 1.1vmax;

    background: var(--backgroundColor);
    border: 0;
}
.tabs:hover {
    color: lightgrey;
}
.tabs:active {
    background-color: dimgrey;
}