@font-face {
    font-family: 'aaargh';
    src: url('./res/fonts/Aaargh-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'abel';
    src: url('./res/fonts/abel-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0;
}

header {
    background-color: #6a6d81;
    border-right: #2b342f 3px solid;

    width: 20vw;
    height: 100vh;
    margin: 0;
}

#name-title{
    margin: 0;

    display: flex;
    align-content: center;
    justify-content: center;

    padding: 24px 8px 16px 8px;

    font-family: abel, sans-serif;
    font-weight: 50;
    font-size: 2.5vmax;

    white-space: nowrap;
}

.tabs{
    background-color: rgba(1, 1, 1, 0);
    border: 0;

    width: 20vw;
    height: 5vh;
}
#tabs-div{
    /*display: flex;
    align-content: center;
    justify-content: center;*/

    border-top: black 2px solid;
    border-bottom: black 2px solid;
}